<div class="vertical-center f-1">
  <div class="w-75 mx-auto text-center">
    <%= image_tag "logo_large_W.png", style:"width: 60%;" %>
    <h1 class="cover-heading f-1">SECURITY <%= image_tag "logo_crossbones_W.png", style:"width: 3rem;" %> SYSTEMS</h1>
    <h2>SUBSCRIBE TO LOCK ON</h2>
    <%= form_for :checkout_form, url: subscription_checkout_path(id: @user.id), html: { id: "cardForm"} do |form| %>

      <%= form.select :price, options_for_select([["1 Year @ $99.99", 99.99],["2 Years @ $159.99", 159.99],["3 Years @ $209.99", 209.99]]), {prompt: "Select Subscription Period..."}, {class:"form-control w-50 mx-auto"} %></br>

      <%= form.label :card_number, "Credit Card Number", html: {class: "hosted-fields--label"} %>
      <div id="card-number" class="hosted-field w-50 mx-auto"></div>

      <%= form.label :expiration_date, "Expiration Date", html: {class: "hosted-fields--label"} %>
      <div id="expiration-date" class="hosted-field w-50 mx-auto"></div>

      <%= form.label :cvv, "CVV", html: {class: "hosted-fields--label"} %>
      <div id="cvv" class="hosted-field w-50 mx-auto"></div>

      <%= form.hidden_field "payment_method_nonce" %>

      <div class="button-container">
        <%= form.submit "Purchase", disabled: true, class: "btn btn-secondary text-body", id: "submit-payment-btn", confirm: "Are you sure you wish to subscribe?" %>
      </div>
    <% end %>
  </div>
</div>









  <!-- Load the Client component. -->
  <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

  <!-- Load the Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

  <script>

  var form = document.querySelector('#cardForm');
  var submit = document.querySelector("#submit-payment-btn");
  var authorization = '<%= @client_token %>';

  braintree.client.create({
    // Replace this with your own authorization.
    authorization: authorization
  }, function (clientErr, clientInstance) {
    if (clientErr) {
      // Handle error in client creation
      return;
    }

    braintree.hostedFields.create({
      client: clientInstance,
      styles: {
        'input': {
          'font-size': '12pt'
        },
        'input.invalid': {
          'color': 'red'
        },
        'input.valid': {
          'color': 'green'
        }
      },
      fields: {
        number: {
          selector: '#card-number',
          placeholder: '4111 1111 1111 1111'
        },
        cvv: {
          selector: '#cvv',
          placeholder: '123'
        },
        expirationDate: {
          selector: '#expiration-date',
          placeholder: '10/2019'
        }
      }
    }, function (hostedFieldsErr, hostedFieldsInstance) {
      if (hostedFieldsErr) {
        // Handle error in Hosted Fields creation
        return;
      }

      submit.removeAttribute('disabled');

      form.addEventListener('submit', function (event) {
        event.preventDefault();

        hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
          if (tokenizeErr) {
            // Handle error in Hosted Fields tokenization
            return;
          }

          // Put `payload.nonce` into the `payment_method_nonce` input, and then
          // submit the form. Alternatively, you could send the nonce to your server
          // with AJAX.
          document.querySelector('input[name="checkout_form[payment_method_nonce]"]').value = payload.nonce;
          form.submit();
        });
      }, false);
    });
  });

</script>
