<%= form_for :session, url: session_path do |form| %>
  <div class="text-field text-center m-2 f-1">
    <%= form.text_field :email, type: 'email', placeholder:"EMAIL", class:"form-control mx-auto bg-black text-body", style: "width: 35%;" %>
  </div>

  <div class="password-field text-center m-2 f-1">
    <%= form.password_field :password, placeholder:"PASSWORD", class:"form-control mx-auto bg-black text-body", style: "width: 35%;" %>
  </div>

  <div class="submit-field text-center m-2 f-1">
    <%= form.submit "LOCK IN", class:"btn btn-dark btn-lg bg-black text-pink" %>
  </div>

  <div class="other-links text-center m-2 f-1">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to "or Sign Up", sign_up_path, class:"text-pink" %>
    <% end %>
  </div>
<% end %>
