<div class="text-field">
  <%= form.label :full_name %>
  <%= form.text_field :name, placeholder:"John Smith" %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', placeholder:"john@smith.com" %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.label "8-20 Characters" %>
</div>
