<%= video_tag "crowd_LO.mp4", id: "signupVideo", autoplay: :autoplay, loop: :loop, mute: true %>

    <div id="clearance" class="vertical-center">
      <div id="sign-up-view" class="w-75 mx-auto text-center">
        <a href="/"><%= image_tag "logo_large_W.png", style:"width: 60%;" %></a>
        <h1 class="cover-heading f-1">SECURITY <%= image_tag "logo_crossbones_W.png", style:"width: 3rem;" %> SYSTEMS</h1>
        
        <h2 class="f-1">SIGN UP</h2>

        <%= form_for @user do |form| %>
          <%= render partial: '/users/form', object: form %>

          <div class="submit-field">
            <%= form.submit "SIGN UP", class:"btn btn-dark btn-lg text-pink bg-black f-1" %>
          </div>

          <div class="other-links">
            <%= link_to t("or Lock In Now"), sign_in_path, class:"btn btn-link text-pink f-1" %>
          </div>
        <% end %>
      </div>          
    </div>
