<style type="text/css">
	body {
		margin-top: 0;
	}
</style>

<%= video_tag "crowd_LO.mp4", id: "signupVideo", autoplay: :autoplay, loop: :loop, mute: true %>

    <div id="clearance" class="vertical-center">
      <div id="sign-up-view" class="w-75 mx-auto text-center">
        <a href="/"><%= image_tag "logo_large_W_full.png", style:"width: 70%;" %></br></a>
        <h2 class="f-1">SIGN UP</h2>

        <%= form_for @user do |form| %>
          <%= render partial: '/users/form', object: form %>

          <div class="submit-field">
            <%= form.submit "SIGN UP", class:"btn btn-dark btn-lg text-pink bg-black f-1" %>
          </div>

          <div class="other-links">
            <%= link_to t("or Lock In Now"), sign_in_path, class:"btn btn-link text-pink f-1" %>
          </div>
        <% end %>
      </div>
    </div>
