
    <div id="clearance" class="vertical-center">
      <div class="w-75 mx-auto text-center">
        <%= image_tag "logo_large_W.png", style:"width: 60%;" %>
        <h1 class="cover-heading">Security <%= image_tag "logo_crossbones_W.png", style:"width: 3rem;" %> Systems</h1>
        
        <h2><%= t(".title") %></h2>

        <%= form_for @user do |form| %>
          <%= render partial: '/users/form', object: form %>

          <div class="submit-field">
            <%= form.submit "Sign Up", class:"btn btn-secondary text-body" %>
          </div>

          <div class="other-links">
            <%= link_to t("or Lock In Now"), sign_in_path, class:"btn btn-link text-light" %>
          </div>
        <% end %>
      </div>          
    </div>
