<div class="container">
<div class="card" style="width: 100;">
  <div class="card-body text-center bg-black text-pink">
      <img class="card-img-top w-25 rounded-circle mx-auto d-block" src="/assets/logo_crossbones_color_large.png" alt="Card image cap">
      <h1 class="card-text m-2 p-1"><%= @user.name %>'s Profile</h1>
      <h5 class="card-title text-pink">Lockstar Status: <%= @user.subscription_status %></h5>
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item bg-light text-body">Locks: <%= @user.locks.count %></li>
  </ul>
  <div class="card-body container bg-black text-pink">
    <ul class="list-group list-group-flush text-left">
      <li class="list-group-item text-center bg-black">
        <h3>Personal Details:</h3>
      </li>
      <li class="list-group-item bg-black">
        <strong>Name:</strong> <%= @user.name %>
        <button id ="first-name" class="edit-button btn btn-warning float-right">Edit</button>
      </li>
      <li class="list-group-item bg-black">
        <strong>Address:</strong> <%= "NEXT Academy" %>
        <button id ="last-name" class="edit-button btn btn-warning float-right">Edit</button>
      </li>
      <li class="list-group-item bg-black">
        <strong>Birthday:</strong> <%= "01/01/1991" %>
        <button id ="birthday" class="edit-button btn btn-warning float-right">Edit</button>
      </li>
      <li class="list-group-item bg-black">
        <strong>Contact Number:</strong> <%= "+60123456789" %>
        <button id ="contact-number" class="edit-button btn btn-warning float-right">Edit</button>
      </li>
      <li class="list-group-item bg-black">
        <strong>Email Address:</strong> <%= @user.email %>
        <button id ="email" class="edit-button btn btn-warning float-right">Edit</button>
      </li>
      <li class="list-group-item bg-black">
        <button type="button" class="btn btn-danger w-100 text-body" data-toggle="modal" data-target="#deleteModal">
          Delete Account
        </button>
       </li>
    </ul>
  </div>
</div>
</div>
