<div>
    <h2><%= current_user.name %></h2>

    <p>remember move payment button to this page</p>
    <div class="child">
        <h4>Name</h4>
            <p><%= current_user.name %></p>
        <h4>Email</h4>
            <p><%= current_user.email %>
        <h4>Subscription Status</h4>
            <%= current_user.subscription_status %> <!-- if subscribed then put subscribed, if not put a link to enable users to subscribe -->
        <h4>Registered Phone Number</h4>
            <%= current_user.phone %> <!-- mask phone number -->
    </div>
</div>