<% if current_user && @user.subscription_status == true %>

<%= video_tag "stage_flames_LO.mp4", id: "myVideo", autoplay: :autoplay, loop: :loop, mute: true %>

	<div class="vertical-center">
		<div id="home-view" class="w-75 mx-auto text-center">
		  <%= image_tag "logo_large_W_full.png", style:"width: 70%;" %></br>
		  <div class="w-50 mx-auto f-1">
		    <h2 class="lead text-pink">Welcome back <%= current_user.name %>!</h2>
		  </div>
		</div>
	</div>


<% elsif current_user && @user.subscription_status == false %>

	<%= video_tag "stage_flames_LO.mp4", id: "myVideo", autoplay: :autoplay, loop: :loop, mute: true %>

	<div class="vertical-center">
		<div id="home-view" class="w-75 mx-auto text-center">
		  <%= image_tag "logo_large_W_full.png", style:"width: 70%;" %></br>
		  <div class="w-50 mx-auto f-1">
		    <p class="lead text-pink">You are currently on Lock Down. Complete the subscription payment to fully Lock On!</p>
			<%= link_to "ACTIVATE", subscription_new_path, class:"btn btn-secondary bg-black text-pink" %>
		  </div>
		</div>
	</div>


<% else %>

<%= video_tag "stage_flames_LO.mp4", id: "myVideo", autoplay: :autoplay, loop: :loop, mute: true %>
<div class="vertical-center">
	<div id="home-view" class="w-75 mx-auto text-center">
	  <%= image_tag "logo_large_W_full.png", style:"width: 70%;" %></br>
	  <a href="/sign_in" class="btn btn-dark btn-lg bg-black text-pink m-2 w-25 f-1">LOCK IN</a></br>
	  <a href="/sign_up" class="text-pink f-1">or Sign Up</a>
	  <div class="w-50 mx-auto f-1">
	    <p class="lead text-pink">Did you lock your door in your house? If not, you have come to the right page! We can help you to lock your door remotely. </p>
	  </div>
	</div>
</div>




<% end %>

<script>
// STATUS CHECK-------------STATUS CHECK-------------STATUS CHECK-------------STATUS CHECK-------------
// $(document).ready(function(){
//
// 				setInterval(function(){
// 					$.ajax({
//
// 						url: 'locks/status_check',
// 						method: 'GET',
// 						dataType: 'JSON',
// 						success: function(data){
// 							console.log(data)
// 							var status = data.status;
// 							if (status == "Unlocked"){
// 								$('#testing-here').removeClass('bg-success');
// 								$('#testing-here').addClass('bg-danger');
// 							} else if (status == "Locked"){
// 								$('#testing-here').removeClass('bg-danger');
// 								$('#testing-here').addClass('bg-success');
// 							}
// 						}
// 					})}, 5000);
//
// 			})

</script>
