<div id="clearance" class="password-reset mx-auto text-center bg-form-custom border rounded shadow-lg p-3">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password, url: passwords_path do |form| %>
    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email', class:"form-control mx-auto w-50" %>
    </div>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>
