<%= form_with scope: :locks, url: user_locks_path, local: true do |form| %>

    <!-- <div class="text-field">
    <%= form.label :lock_name %>
    <%= form.text_field :lock_name %>
    </div> -->

    <div class="text-field text-left m-2 f-1">
      <%= form.label :NAME %>
      <%= form.text_field :lock_name, placeholder:"FRONT DOOR", class:"form-control w-95 mx-left"%>
    </div>


    <%= form.hidden_field :location %>


    <div class="drop-down text-left m-2 f-1">
    <%= form.label :group %>
    <%= form.text_field :group, placeholder:"HOME", class:"form-control w-95 mx-left" %>
    </div>

    <div class="drop-down text-left m-2 f-1">
    <label for="tracking">Rock Around the Clock!</label>
    <%= form.check_box :tracking, {}, true, false %>
    </div>

    <!-- coordinates text field-->
    <%= form.hidden_field :longitude ,:id =>"longitude_field" %>
    <%= form.hidden_field :latitude ,:id =>"latitude_field" %>

    <div class="submit-field">
      <h6 class="small-font">Drag marker to your new lock location and submit</h6>
        <%= form.submit "NEW", class:"btn btn-secondary text-white f-1 form-control w-95" %>
    </div>




<% end %>
