<%= form_with scope: :locks, url: user_lock_path(current_user,@lock), method: :patch, local: true do |form| %>

    <div class="text-field text-left m-2">
      <%= form.label :Name, class:"f-2 text-dark"%>
      <%= form.text_field :lock_name, placeholder:@lock.lock_name, class:"form-control w-95 mx-left f-3"%>
    </div>


    <!-- <%= form.hidden_field :location %> -->


    <div class="text-field text-left m-2">
    <%= form.label :group %>
    <%= form.text_field :group, placeholder:@lock.group, class:"form-control w-95 mx-left f-3" %>
    </div>

    

    <!-- <div class="drop-down text-left m-2 f-1">
    <label for="tracking">Rock Around the Clock!</label>
    <%= form.check_box :tracking, {}, true, false %>
    </div> -->

    <!-- coordinates text field-->
    <%= form.hidden_field :longitude ,:id =>"longitude_field" %>
    <%= form.hidden_field :latitude ,:id =>"latitude_field" %>

    <div class="submit-field">
      <h6 class="small-font text-white">Drag marker to your new lock location and submit</h6>
        <%= form.submit "SUBMIT", class:"btn btn-secondary text-white f-1 form-control w-95" %>
    </div>




<% end %>
