<div class="container">
    
    <div class="mb-3">
        <h2><%= current_user.name %>'s Locks</h2>
    </div>

    <div>
        <% @locks.group_by(&:group).each do |group, lock| %>
            <div class="card text-dark border-light mb-3" style="max-width: 20rem; min-width: 20rem">
                <div class="card-header">
                    <div sytle="max-width: 5rem ">
                        <%= group %>
                    </div>
                </div>
                <% lock.each do |lock| %>
                    <div class="card-body">
                        <div>
                            <h5 class="card-title float-left"><%= link_to lock.lock_name, user_lock_path(current_user.id, lock.id) %></h5>
                            <div class="float-right">
                                <!-- Rounded switch -->
                                <label class="switch">
                                <input type="checkbox" name="lock_status">
                                <span id="slider-<%= lock.id %>" class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <!--    <table>
            <tr>
                <th>Lock Name</th>
                <th>Status</th>
                <th>Group</th>
                <th>Location</th>
                <th>Toggle Lock</th>
            </tr>
            <% @locks.each do |lock| %>
                <tr>
                    <td><%= link_to lock.lock_name, user_lock_path(lock.id, current_user.id) %></td>
                    <td><%= lock.status %></td>
                    <td><%= lock.group %></td>
                    <td><%= lock.location %></td>
                    <td>
                        <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            <% end %>
        </table> -->
    </div>
</div>
<script>

        $(document).ready(function() {
            $('.slider').click(function(){
           var slider_id = event.target.id.split('-')[1]

                $.ajax({
                    url: '/locks/toggle_lock',
                    method: 'GET',
                    data: {toggle_id: slider_id},
                    success: function(data){
                        var alert_message = data.notice
                        $(".navbar").after(`<div class="alert alert-warning w-50 mx-auto" role="alert">${alert_message}</div>`)
                        $(".alert").delay(2000).fadeOut('slow');
                    },
                    error: function(){}
                });
            });
        });
</script>