<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

      <div class = "div-panel-right">
        <div class ="d-flex">
          <div class="show-icon ml-3">
            <div class = "show-toggle">
              <!-- Rounded switch -->
              <label class="switch" id="lock_status">
                <input type="checkbox" name="lock_status"
                <% unless @lock.status == "Unlocked" %>
                <%= "checked" %>
                <% end %> >
                <span id="slider-<%= @lock.id %>" class="slider round"></span>
              </label>
            </div>
            <div>
                  <% if @lock.status == "Unlocked" %>
                      <%= image_tag ("unlocked_large_color.png"), style:"width: 150px;" %>
                  <% elsif @lock.status == "Locked" %>
                      <%= image_tag ("locked_large_color.png"), style:"width: 150px;" %>
                  <% end %>

          </div>
          </div>
          <div class ="show-status-locked text-uppercase f-1">

              <% if @lock.status == "Unlocked" %>
                  <p>Unlocked</p>
                  <%= image_tag 'lock_around_clock_pink.png', id:"latc", style:"width: 10rem;" %>
              <% elsif @lock.status == "Locked" %>
                  <p>Lock On!</p>
                  <button class="btn btn-secondary">Lock Around The Clock</button>
              <% end %>


          </div>
        </div>

      <div class="card" id = "show-card">
          <h5 class="card-header fly bg-black f-header-blue" data-longitude='<%=@lock.longitude%>' data-latitude='<%=@lock.latitude%>' ><%= @lock.lock_name %></h5>
          <div class="card-body text-body">
            <h6 class = "f-1 text-dark">Group</h6>
            <h3 class = "f-1 text-dark"><%= @lock.group %></h3>
            <br>
            <h6 class = "f-1 text-dark">Address</h6>
            <p><%= @lock.location %></p>

            <small>distance: <span class = "distance">

            </span></small>
            <small>accuracy: <span class = "acc">

            </small>

          </div>
      </div>
    </div>



      </div>
      <div class="col-md-8">

        <div id='map'></div>

      </div>
    </div>
</div>



<!-- <p>distance: <span class = "distance">
  distance
</span></p>

<p>db status: <span class = "db_status">
  db status
</span></p>

<p>accuracy: <span class = "acc">
  acc
</span></p>

<p>in-range: <span class = "in_range">
  in-range
</span></p>

  <p class = "distance">
    distance
  </p> -->










<script>



mapboxgl.accessToken = 'pk.eyJ1IjoibG9ja25yb2xscy10ZWFtMSIsImEiOiJjam4xM3FvcDYxYnZuM2ttOThyYTc2cjFwIn0.LXhAvekTPkv8HSJvQd-32w';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/locknrolls-team1/cjn14k39471xh2rs7lmh6r40x',
    center: [<%= @lock.longitude %>, <%= @lock.latitude %>], // starting position
    zoom: 15 // starting zoom
});


// existing locks tags into map-------------------------------------
var geojson = {
  type: 'FeatureCollection',
  features: [{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [<%= @lock.longitude %>, <%= @lock.latitude %>]
    },
    properties: {
      title: "<%= @lock.lock_name %>",
      group: "<%= @lock.group %>",
      description: "<%= @lock.status %>"
    }
  }]
};

// add visual to lock tag popup-----
geojson.features.forEach(function(marker) {

      var el = document.createElement('div');
      el.className = 'marker-locked';

    // // create a HTML element for each feature
    // if(marker.properties.description == "Locked"){
    // } else {
    //   var el = document.createElement('div');
    //   el.className = 'marker-unlocked';
    // }


  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el, {offset: [0, -25]})
    .setLngLat(marker.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h5>' + marker.properties.title + '</h5><small>' + marker.properties.group + '</small><h4>' + marker.properties.description + '</h4>'))
    .addTo(map);
});

// fly to individual marker--------------------------------------------------------
$(".fly").click(function() {
    // Fly to a random location by offsetting the point -74.50, 40
    // by up to 5 degrees.
    console.log(this)
    map.flyTo({
        center: [this.getAttribute("data-longitude"), this.getAttribute("data-latitude")],
        zoom: 19
    });
});

// load 3D building to map----------------------------------------------------
map.on('load', function() {
    // Insert the layer beneath any symbol layer.
    var layers = map.getStyle().layers;

    var labelLayerId;
    for (var i = 0; i < layers.length; i++) {
        if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
            labelLayerId = layers[i].id;
            break;
        }
    }

    map.addLayer({
        'id': '3d-buildings',
        'source': 'composite',
        'source-layer': 'building',
        'filter': ['==', 'extrude', 'true'],
        'type': 'fill-extrusion',
        'minzoom': 15,
        'paint': {
            'fill-extrusion-color': '#aaa',

            // use an 'interpolate' expression to add a smooth transition effect to the
            // buildings as the user zooms in
            'fill-extrusion-height': [
                "interpolate", ["linear"], ["zoom"],
                15, 0,
                15.05, ["get", "height"]
            ],
            'fill-extrusion-base': [
                "interpolate", ["linear"], ["zoom"],
                15, 0,
                15.05, ["get", "min_height"]
            ],
            'fill-extrusion-opacity': .6
        }
    }, labelLayerId);
});


// Add geolocate present location control to the map-----------------------------------
map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
    trackUserLocation: true
}));

// Add Navigation Controller
map.addControl(new mapboxgl.NavigationControl(), 'top-left');

// Add Full screen BUtton
map.addControl(new mapboxgl.FullscreenControl());

$('#latc').click(function(){

  var lock = <%= @lock.id %>

  $.ajax({
    url: "/lock_around_the_clock",
    method: "GET",
    data: { lock_id: lock },
    success: function(data){
      console.log(data)
    }

  })

})

</script>
